Checks: >-
  -*,
  boost-use-to-string,
  bugprone-*,
  cert-*,
  clang-analyzer-*,
  concurrency-*,
  cppcoreguidelines-*,
  -cppcoreguidelines-avoid-magic-numbers,
  modernize-*,
  -modernize-use-nodiscard,
  mpi-*,
  openmp-*,
  performance-*,
  portability-*,
  readability-*,
  -readability-magic-numbers,
  -readability-function-cognitive-complexity

HeaderFilterRegex: 'rpmembb/(src|include)/.*$'

CheckOptions:
# Classes, structs, ...
  - key:    readability-identifier-naming.NamespaceCase
    value:  lower_case
  - key:    readability-identifier-naming.ClassCase
    value:  lower_case 
  - key:    readability-identifier-naming.StructCase
    value:  lower_case
  - key:    readability-identifier-naming.EnumCase
    value:  lower_case
  - key:    readability-identifier-naming.UnionCase
    value:  lower_case
  - key:    readability-identifier-naming.TypedefCase
    value:  lower_case

# Variables, member variables, ...
  - key:    readability-identifier-naming.ParameterCase
    value:  lower_case
  - key:    readability-identifier-naming.VariableCase
    value:  lower_case
  - key:    readability-identifier-naming.MemberCase
    value:  lower_case
  - key:    readability-identifier-naming.PublicMemberCase
    value:  lower_case
  - key:    readability-identifier-naming.ProtectedMemberCase
    value:  lower_case
  - key:    readability-identifier-naming.ProtectedMemberSuffix
    value:  _
  - key:    readability-identifier-naming.PrivateMemberCase
    value:  lower_case
  - key:    readability-identifier-naming.PrivateMemberSuffix
    value:  _

# Functions, methods, ...
  - key:    readability-identifier-naming.FunctionCase
    value:  lower_case
  - key:    readability-identifier-naming.MethodCase
    value:  lower_case

# Constants
  - key:    readability-identifier-naming.ConstantPrefix
    value:  ''
  - key:    readability-identifier-naming.ConstantCase
    value:  UPPER_CASE 
  - key:    readability-identifier-naming.ConstantMemberPrefix
    value:  ''
  - key:    readability-identifier-naming.ConstantMemberCase
    value:  lower_case
  - key:    readability-identifier-naming.ConstantParameterPrefix
    value:  ''
  - key:    readability-identifier-naming.ConstantParameterCase
    value:  lower_case
  - key:    readability-identifier-naming.LocalConstantParameterPrefix
    value:  ''
  - key:    readability-identifier-naming.LocalConstantCase
    value:  lower_case
  - key:    readability-identifier-naming.ConstexprVariablePrefix
    value:  ''
  - key:    readability-identifier-naming.ConstexprVariableCase
    value:  lower_case

# Identifier-length
  - key: readability-identifier-length.IgnoredParameterNames
    value: 't|t0|t1|p|p0|p1|i|j|k|x|X|y|Y|z|Z|ip|os'
  - key: readability-identifier-length.IgnoredVariableNames
    value: 't|t0|t1|p|p0|p1|i|j|k|x|X|y|Y|z|Z|ip|os'
  - key: readability-identifier-length.IgnoredLoopCounterNames
    value: 't|t0|t1|p|p0|p1|i|j|k|x|X|y|Y|z|Z|ip|os'
